#loader {
  display: none;
  position: absolute;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// switches to display grid if supported. otherwise uses flex in mobile mode.
@supports (display: grid) {
  main ul {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
  }
}

main ul {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.articles {
  margin-top: 0;
  padding: 0;

  @include tablet {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: $main-font-color;

    .article-box {
      height: 420px;
      width: 100%;
      background-size: cover;
      background-position: 50%;
      display: flex;

      p {
        background: rgba(0, 0, 0, 0.6);
        margin-top: 0;
        margin: 0;
        padding: 0.5rem;
        line-height: 1.5rem;
        text-align: left;
        align-self: flex-end;
        width: 100%;
      }
    }
  }
}
